.main-header {
    font-size: rem-calc(64px);
    margin-top: 2rem;
    margin-bottom: 2rem;
        
    @extend .center-horizontal;
    
    font-weight: bold;
    color: $color-brand-primary;
}

.core-value-link{
    background-color: $color-brand-primary;
    text-align: center;
    text-decoration: none;
    
    
    h2 {
        color: text-color-from-background($color-brand-primary);
        font-size: 2rem;
        padding: .5em 0;
    }

    &:hover {
        background-color: lighten($color-brand-primary, 10%);
        @include prefix(transition, .2s ease-in-out, webkit moz o);
    }
}