/* csslint ignore:start */
@import 'globals';
@import 'functions';
@import 'mixins';
@import 'breakpoints';
@import "utilities";
@import 'text';
@import 'menu';

html {
  font-size: 75%;
}

@media #{$medium-up} {
	html {
        font-size: 95%;
    }
}

@media #{$large-up} {
	html {
        font-size: 100%;
    }
}

body{
    margin:0;
}
/* csslint ignore:end */