/* csslint ignore:start */
/* 0, 720px */
/* 721px, 1200px */
/* 1201px+*/
.center-horizontal, .main-header, .main-menu-link > span {
	display: table;
	margin: 0 auto; }

.center-vertical, .hamburger-toggle, .main-menu-link > span, .logo-link {
	position: relative;
	top: 50%;
	transform: translateY(-50%); }

.full-width {
	width: 100%;
	max-width: none;
	margin-left: 0px;
	margin-right: 0px; }

.main-header {
	font-size: 4rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-weight: bold;
	color: #21834d; }

.core-value-link {
	background-color: #21834d;
	text-align: center;
	text-decoration: none; }
	.core-value-link h2 {
		color: #ffffff;
		font-size: 2rem;
		padding: .5em 0; }
	.core-value-link:hover {
		background-color: #2bac65;
		-webkit-transition: 0.2s ease-in-out;
		-moz-transition: 0.2s ease-in-out;
		-o-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out; }

.hamburger-toggle {
	width: 1.75rem;
	height: 1.5rem;
	float: left;
	z-index: 100;
	left: 1rem; }
	.hamburger-toggle span {
		display: block;
		position: absolute;
		height: .30rem;
		width: 100%;
		opacity: 1;
		left: 0;
		background: black;
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
		-webkit-transition: 0.2s ease-in-out;
		-moz-transition: 0.2s ease-in-out;
		-o-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out; }
	.hamburger-toggle span:nth-child(1) {
		top: 0; }
	.hamburger-toggle span:nth-child(2) {
		top: .60rem; }
	.hamburger-toggle span:nth-child(3) {
		top: 1.2rem; }
	@media only screen and (min-width: 45.0625em) {
		.hamburger-toggle {
			display: none; } }

.expanded .hamburger-toggle span:not(:nth-child(2)) {
	top: 0.3125rem; }

.expanded .hamburger-toggle span:nth-child(1) {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg); }

.expanded .hamburger-toggle span:nth-child(2) {
	opacity: 0;
	left: -60px;
	visibility: hidden; }

.expanded .hamburger-toggle span:nth-child(3) {
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg); }

.menu {
	background: white;
	position: fixed;
	top: 0;
	height: 6rem;
	z-index: 1; }

@media only screen and (max-width: 45em) {
	.menu.expanded {
		height: 100vh; }
	.menu .expandable {
		display: none; }
	.menu.expanded .expandable {
		display: block; }
	.expanded + .content {
		display: none; }
	.expanded .main-menu-link {
		padding: 1rem 0; } }

@media only screen and (min-width: 45.0625em) {
	.main-menu-primary {
		float: left; }
	.menu .expandable {
		display: block;
		height: 100%;
		width: 65%;
		float: right; }
	.hamburger-toggle {
		display: none; } }

.main-menu-link {
	padding: 0;
	text-decoration: none;
	color: black; }

.main-menu-link:hover {
	background-color: #21834d;
	color: #ffffff; }

.main-menu-link > span {
	font-family: Futura-Medium;
	font-size: 1.25rem;
	letter-spacing: .2em; }

.menu-links {
	height: 100%; }

#main-menu > .expandable {
	position: relative; }

.main-menu-primary {
	height: 6rem; }

@media only screen and (max-width: 45em) {
	.menu-links {
		margin-top: 2rem;
		/*padding: .5rem 1rem;*/ }
	.menu-link-holder {
		height: 3rem; } }

.logo-link {
	position: relative;
	display: inline-block; }
	@media only screen and (max-width: 45em) {
		.logo-link {
			float: right;
			right: 50%;
			-webkit-transform: translateX(50%) translateY(-50%);
			-moz-transform: translateX(50%) translateY(-50%);
			-ms-transform: translateX(50%) translateY(-50%);
			-o-transform: translateX(50%) translateY(-50%);
			transform: translateX(50%) translateY(-50%); } }
	@media only screen and (min-width: 45.0625em) {
		.logo-link {
			margin-left: 2rem; } }

.content {
	margin-top: 6rem; }

.logo {
	pointer-events: none; }

html {
	font-size: 75%; }

@media only screen and (min-width: 45.0625em) {
	html {
		font-size: 95%; } }

@media only screen and (min-width: 75.0625em) {
	html {
		font-size: 100%; } }

body {
	margin: 0; }

/* csslint ignore:end */

