@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Sass Demo";
}

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1 class="main-header">Version1 values</h1>
    </body>
</html>
